@reference "../../app/globals.css";

img {
    @apply w-full h-full object-cover;
}

h1 {
    @apply font-medium leading-[1.1] tracking-[-0.1rem];
    font-size: clamp(2rem, 10vw, 5rem);
}

section {
    @apply relative w-full h-svh p-4 content-center overflow-hidden;
}

section h1 {
    @apply w-[52%] text-center mx-auto my-0 text-foreground;
}

.intro, .outro {
    @apply bg-gray-200;
}

.spotlight {
    @apply bg-gray-50;
}

.spotlight-images {
    @apply absolute left-0 top-0 w-full h-full pointer-events-none;
}

.spotlight-image {
    @apply absolute left-1/2 top-1/2 aspect-7/5 rounded-[0.5rem] -translate-x-1/2 translate-y-[200%] will-change-transform overflow-hidden;
    width: clamp(20rem, 25vw, 40rem);
}

@media (max-width: 1000px) {
    h1 {
        @apply w-full;
    }
}
