@reference "../../app/globals.css";

::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3 {
  @apply font-light leading-[1.25];
}

h1 {
  font-size: clamp(4rem, 5vw, 6rem);
}

h2 {
  font-size: clamp(3rem, 4vw, 5rem);
}

h3 {
  font-size: clamp(1.25rem, 1.75vw, 2.5rem);
}

a {
  @apply text-background font-light leading-[1.25];
  font-size: clamp(1.25rem, 1.75vw, 2.5rem);
}

p {
  @apply text-[0.9rem] font-normal;
}

section {
  @apply relative h-svh w-full flex items-center justify-center text-foreground z-1;
}

section:nth-child(1) {
  @apply bg-amber-100;
}

section:nth-child(2) {
  @apply bg-blue-100;
}

section:nth-child(3) {
  @apply bg-green-100;
}

footer {
  @apply relative h-[75svh] w-full bg-foreground text-background overflow-hidden;
}

.footer-container {
  @apply relative h-full w-full flex flex-col justify-between -translate-y-[35%] will-change-transform;
}

#footer-canvas {
  @apply absolute top-0 left-0 h-full w-full pointer-events-none z-[-1];
}

.footer-content {
  @apply relative h-full w-full flex flex-col justify-between p-8 z-1;
}

.footer-row {
  @apply flex justify-between;
}

.footer-row:nth-child(1) .footer-col:nth-child(1) {
  @apply flex-3;
}

.footer-row:nth-child(1) .footer-col:nth-child(2) {
  @apply flex-2 flex gap-8;
}

.footer-sub-col {
  @apply flex-1 flex flex-col gap-2;
}

.footer-row h2 {
  @apply w-3/4;
}

@media (max-width: 1000px) {
  .footer-row:nth-child(1) {
    @apply flex-col gap-16;
  }

  .footer-row h2 {
    @apply w-full;
  }
}
