@reference "../../app/globals.css";

.page {
    @apply bg-background text-foreground;
}

img {
    @apply w-full h-full object-cover;
}

h1 {
    @apply font-medium leading-[1.1];
    font-size: clamp(5rem, 6vw, 7rem);
}

p {
    @apply text-[1.35rem];
}

section {
    @apply relative w-full h-svh overflow-hidden;
}

.hero {
    @apply perspective-[1000px] text-background;
}

.outro {
    @apply flex items-center justify-center text-center p-8;
}

.sky-container, .hero-copy, .window-container, .hero-header {
    @apply absolute left-0 top-0 w-full will-change-transform;
}

.sky-container {
    @apply h-[350svh];
}

.hero-copy {
    @apply h-svh flex items-center justify-center translate-y-full;
}

.hero-copy h1 {
    @apply w-[85%];
}

.window-container {
    @apply h-svh;
}

.hero-header {
    @apply h-svh p-8 flex transform-3d;
}

.hero-header .col {
    @apply flex-1 flex flex-col justify-between;
}

.hero-header .col p {
    @apply w-1/2;
}

.hero-header .col:nth-child(2) {
    @apply items-end text-right;
}

@media (max-width: 1000px) {
    h1 {
        @apply text-[3rem];
    }

    p {
        @apply text-[1.125rem];
    }
}