@reference "../../app/globals.css";

.table-of-contents ol {
    @apply flex flex-col gap-2 border-l dark:border-[color-mix(in_oklab,_var(--color-gray-950),white_20%)] border-[color-mix(in_oklab,_var(--color-gray-950),white_90%)];
}

.table-of-contents ol li {
    @apply -ml-px flex flex-col items-start gap-2;
}

.table-of-contents ol li a {
    @apply inline-block border-l border-transparent text-base/8 text-gray-500 hover:border-gray-950/25 hover:text-gray-950 sm:text-sm/6 dark:text-gray-300 dark:hover:border-white/25 dark:hover:text-white pl-5 sm:pl-4;
}

.table-of-contents ol li ol li a {
    @apply pl-8 sm:pl-7.5;
}

.table-of-contents ol li a.active {
    @apply border-gray-950 text-gray-950 dark:border-white dark:text-white border-l-2;
}