
.md-anchor .content {
  position: relative;
  padding-left: 16px;
  font-size: 13px;
  font-weight: 500;
}

.md-anchor .outline-marker {
  position: absolute;
  top: 32px;
  left: -1px;
  z-index: 0;
  opacity: 0;
  width: 2px;
  border-radius: 2px;
  height: 18px;
  background-color: #333;
  transition:
    top 0.25s cubic-bezier(0, 1, 0.5, 1),
    background-color 0.5s,
    opacity 0.25s;
}

.md-anchor .outline-title {
  line-height: 32px;
  font-size: 14px;
  font-weight: 600;
}

.outline-item.root {
  position: relative;
  z-index: 1;
}

.outline-item.nested {
  padding-right: 16px;
  padding-left: 16px;
}

.outline-link {
  display: block;
  line-height: 32px;
  font-size: 14px;
  font-weight: 400;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.5s;
}

.outline-link:hover,
.outline-link.active {
  color: #333;
  transition: color 0.25s;
}

.outline-link.nested {
  padding-left: 13px;
}