@reference "../../app/globals.css";

.md-anchor .content {
  @apply relative pl-4 text-[13px] font-medium;
}

.md-anchor .outline-marker {
  @apply absolute top-8 -left-px w-[2px] z-0 opacity-0 w-0.5 rounded-md h-[18px] bg-foreground/90;
  transition:
    top 0.25s cubic-bezier(0, 1, 0.5, 1),
    background-color 0.5s,
    opacity 0.25s;
}

.md-anchor .outline-title {
  @apply leading-8 text-[14px] font-semibold text-foreground/95;
}

.outline-item.root {
  @apply relative z-1;
}

.outline-item.nested {
  @apply px-4;
}

.outline-link {
  @apply block leading-8 text-[14px] font-normal text-foreground/60 whitespace-nowrap text-ellipsis;
  transition: color 0.5s;
}

.outline-link:hover,
.outline-link.active {
  @apply text-foreground/90;
  transition: color 0.25s;
}

.outline-link.nested {
  @apply pl-[13px];
}