@reference "../../app/globals.css";

body {
  scroll-behavior: smooth !important;
}

.md-content h1 {
  @apply mt-2 text-3xl font-semibold;
}

.md-content h2 {
  @apply mt-8 text-2xl font-medium border-b pb-2;
}

.md-content h3 {
  @apply mt-6 text-xl font-medium;
}

.md-content p {
  @apply mt-6 text-sm;
}