@charset "UTF-8";
:root {
  /* == 引用块设置 == */
  /* 1 表示启用边框，0 表示禁用 */
  --blockquote-border-enabled: 1; /* 1 表示启用边框，0 表示禁用 */
  --blockquote-border-color: oklch(0.72 0.01 56); /* 边框颜色 */
  --blockquote-bg-color: oklch(0.98 0 106); /* 边框颜色 */
  /* == 字体设置 == */
  /* 基准字体 */
  /* 备选：Times, "Times New Roman" */
  --base-latin-font: "Latin Modern Roman", "Latin Modern Roman 10", Times;
  --base-chinese-font: "家族宋", "宋体-简", "华文宋体";
  --base-font-size: 1.02em;
  /* 引言字体 */
  --quote-latin-font: "Latin Modern Roman", "Latin Modern Roman 10", Times, "Times New Roman";
  --quote-chinese-font: "华文仿宋", "STFangsong";
  /* em单位为一个正文字符（--base-font-size）大小，
  例如，如果您设置 --base-font-size 为 9.5pt，那么 1.05em = 1.05*9.5pt ≈ 10pt。下面的标题字体等设置也遵循该规则。
  这样，您就可以仅通过调整基准字体大小，而动态对其他元素大小做出调整。
  当然，您也可以直接设置以pt或px为单位的数值，将元素的大小固定下来，如 --quote-font-size: 10pt; */
  --quote-font-size: 1.05em;
  /* 代码字体（代码中的中文会调用 ui-font） */
  /* "Courier New" 从 Windows 3.1 起成为 Windows 官方提供的字体 */
  /* "Consolas" 从 Windows Vista 起成为 Windows 官方提供的字体 */
  --code-font: "Latin Modern Mono", "Latin Modern Mono 10", "Consolas", "Courier New";
  /* 侧边栏字体 */
  --ui-font: "阿里巴巴普惠体 2.0", "微软雅黑";
  /* source mode 字体 */
  /* 默认调用 code-font 和 ui-font */
  --sourceMode-font: "SF Mono", "阿里巴巴普惠体 2.0", "微软雅黑";
  /* 目录字体 */
  /* 默认调用 base-font */
  --toc-font: "";
  /* 默认调用 base-font-size */
  --toc-font-size: "";
  /* 公式字体 */
  --math-font-size: 1em;
  /* 表格字体 */
  /* 默认调用 heading-font */
  --table-title-font: "";
  /* 默认调用 base-font */
  --table-font: "";
  /* 标题字体（总设置） */
  --heading-chinese-sans-serif-font: "华文黑体"; /* 黑体 */
  --heading-chinese-kai-font: "华文楷体"; /* 楷体 */
  --heading-chinese-fangsong-font: "华文仿宋"; /* 仿宋 */
  --heading-latin-font: var(--base-latin-font);
  --heading-chinese-font: var(--heading-chinese-sans-serif-font);
  /* 标题字体分别设置 */
  /* 大标题（h1）字体 */
  --title-chinese-font: var(--heading-chinese-sans-serif-font);
  --title-font-size: 1.9em;
  /* h2字体 */
  --h2-chinese-font: var(--heading-chinese-sans-serif-font);
  --h2-font-size: 1.5em;
  /* h3字体 */
  --h3-chinese-font: var(--heading-chinese-sans-serif-font);
  --h3-font-size: 1.25em;
  /* h4字体 */
  --h4-chinese-font: var(--heading-chinese-kai-font);
  --h4-font-size: 1.15em;
  /* h5字体 */
  --h5-chinese-font: var(--heading-chinese-fangsong-font);
  --h5-font-size: 1.10em;
  /* h6字体 */
  --h6-chinese-font: var(--heading-chinese-fangsong-font);
  --h6-font-size: 1.05em;
  /* 粗体样式设置 */
  /* 加粗风格时使用的字重；400等同于 normal，700等同于 bold，900等同于 heavy */
  --strong-weight: 900;
  /* 基础行距 */
  --base-line-height: 1.618em;
  /* == 页面设置 == */
  /* 打印页边距 */
  --set-margin: 1.8cm 2cm 1.2cm 2cm !important;
  /* == 控制设置 == */
  /* 目录中是否显示一级标题 */
  --toc-show-title: none;
  /* == 颜色设置 == */
  /* 超链接颜色 */
  --link-color-light: #2E67D3;
  --link-color-dark: #8bb1f9;
  /* == 二级标题强制分页 == */
  /* 默认值为 auto */
  /* 更改为 page 启用强制分页 */
  --page-break-before-h2: auto;
  /* 自定义容器 */
  --tip-bg-color: oklch(0.93 0.03 256);
}

.dark {
  --tip-bg-color: rgba(31, 58, 139, 0.45);
}

body {
  padding: 0 !important;
  margin: 0 !important;
  /* counter-reset: tableHead 0 imgHead 0; */
}

#write {
  font-family: var(--base-latin-font), var(--base-chinese-font), serif;
  font-size: var(--base-font-size);
  /* A4标准宽度 */
  max-width: 21cm;
  margin: 0 auto;
  padding: 20px 0;
  /* background-color: white; */
  /* column-count: 2;
    column-gap: 25px;
    column-width: 8cm; 
    display: inline-block; */
  /* 这里可以试分栏的，但确实不适合实现 */
}
#write p {
  text-align: left;
  line-height: var(--base-line-height);
  margin: 4px 0;
}
#write a {
  color: var(--link-color-light);
  text-decoration: underline;
}

#write hr {
  border-top: solid 1px #ddd;
  margin-top: 1.8em;
  margin-bottom: 1.8em;
}

#write img {
  /* 避免图片在导出时被断开 */
  break-inside: avoid-page;
}

#write strong {
  font-weight: var(--strong-weight);
}

#write > h3.md-focus:before,
#write > h4.md-focus:before,
#write > h5.md-focus:before,
#write > h6.md-focus:before,
h3.md-focus:before,
h4.md-focus:before,
h5.md-focus:before,
h6.md-focus:before {
  color: inherit;
  border: inherit;
  border-radius: inherit;
  position: inherit;
  left: initial;
  float: none;
  top: initial;
  font-size: inherit;
  padding-left: inherit;
  padding-right: inherit;
  vertical-align: inherit;
  font-weight: inherit;
  line-height: inherit;
}

#write {
  counter-reset: chapter;
}

#write h1,
#write h2,
#write h3,
#write h4,
#write h5,
#write h6 {
  font-weight: bold;
  break-after: avoid-page !important;
}
#write h1 {
  font-family: var(--heading-latin-font), var(--title-chinese-font), serif;
  text-align: center;
  column-span: all;
  font-size: var(--title-font-size);
  margin-bottom: 1rem;
  counter-reset: section; /* 进入新章节，重置小节计数器 */
  counter-increment: chapter; /* 章节+1 */
}
#write h2 {
  font-family: var(--heading-latin-font), var(--h2-chinese-font), serif;
  font-size: var(--h2-font-size);
  margin: 1.5rem 0 1rem;
  counter-reset: subsection; /* 进入新小节，重置子小节计数器 */
  counter-increment: section; /* 小节+1 */
}
#write h3 {
  font-family: var(--heading-latin-font), var(--h3-chinese-font), serif;
  font-size: var(--h3-font-size);
  line-height: var(--h3-font-size);
  margin: 1.5rem 0 1rem;
  counter-increment: subsection; /* 子小节+1 */
}
#write h4 {
  font-family: var(--heading-latin-font), var(--h4-chinese-font), serif;
  font-size: var(--h4-font-size);
  line-height: var(--h4-font-size);
}
#write h5 {
  font-family: var(--heading-latin-font), var(--h5-chinese-font), serif;
  font-size: var(--h5-font-size);
  line-height: var(--h5-font-size);
}
#write h6 {
  font-family: var(--heading-latin-font), var(--h6-chinese-font), serif;
  font-size: var(--h6-font-size);
  /* 没有写错，为了避免行距太小才这么写 */
  line-height: var(--h5-font-size);
}
#write h2:before {
  content: counter(section);
  margin-right: 1.2em;
}

#write h3:before {
  content: counter(section) "." counter(subsection) " ";
  margin-right: 1.2em;
}

/* 无序列表 */
#write ul {
  list-style: disc;
}
#write ul ul {
  /*list-style: circle;*/
  /* 请勿删除“–”后的空格, 他们对缩进有一定影响, 下同 */
  list-style: "–   ";
}
#write ul ul ul {
  list-style: "◦  ";
}

/* 有序列表 */
#write ol {
  list-style: decimal;
}
#write ol ol {
  counter-reset: liist;
  list-style: none;
}
#write ol ol > li {
  counter-increment: liist;
  position: relative;
}
#write ol ol > li::before {
  content: "(" counter(liist, lower-alpha) ")";
  position: absolute;
  left: -1.8em;
}
#write ol ol ol {
  counter-reset: liiist;
  list-style: none;
}
#write ol ol ol > li {
  counter-increment: liiist;
  position: relative;
}
#write ol ol ol > li::before {
  content: counter(liiist, lower-roman) ".";
  align-self: flex-end;
  position: absolute;
  left: -4.5em;
  /* -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;*/
  /* 为了让项目编号是重新用句点对齐而不是左对齐 */
  width: 4em;
  text-align: right;
}

#write ol,
#write ul {
  padding-inline-start: 2em;
  margin-block: 0;
}

#write li {
  position: relative;
  margin-block: 0.2em;
}
#write li > p {
  margin-block: 0;
}

#write table {
  /* 三线表第一条线宽度 */
  border-top: 1.2pt solid;
  /* 三线表第二条线宽度 */
  border-bottom: 1.2pt solid;
  font-family: var(--table-font), var(--base-latin-font), var(--base-chinese-font), serif;
  /* font-size: var(--base-font-size); */
  text-align: center;
  break-inside: avoid-page;
  border-spacing: 6px;
  /* 自动布局表格宽度，如果有时内容太紧建议直接加空格吧，我自己看不惯和页面等宽的大表格 */
  width: 98%;
  /* 使表格默认居中；虽然这个代码不好，但好像没别的实现办法 */
  margin: 1em auto;
}
#write table td {
  padding: 2px 6px;
}
#write table tr {
  padding: 2px;
}
#write th {
  padding: 2px 6px;
}
#write thead {
  /* 表格标题（首行）样式 */
  /* 三线表表头的线 */
  border-bottom: 0.5pt solid;
  font-family: var(--table-title-font), var(--heading-latin-font), var(--heading-chinese-font), serif !important;
  /* font-size: var(--base-font-size); */
  font-weight: var(--strong-weight);
}

#write blockquote {
  font-style: normal;
  font-family: var(--quote-latin-font), var(--quote-chinese-font), var(--base-latin-font), var(--base-chinese-font), -apple-system, serif;
  font-size: var(--quote-font-size);
  /* 左侧边框  */
  border-left: calc(var(--blockquote-border-enabled) * 4px) solid var(--blockquote-border-color);
  /* 文字离左边框的距离 */
  padding: 0.5em 2em 0.5em 1em;
  /* 左边框离页面边的距离 */
  margin: 1em 0;
  background-color: var(--blockquote-bg-color);
  border-radius: 0px 4px 4px 0px;
  box-sizing: border-box;
}

#write blockquote blockquote {
  font-size: inherit;
  padding-right: 0;
}

/* 行内代码 */
#write code {
  font-family: var(--code-font), var(--ui-font), monospace;
}

#write h1 code, #write h2 code, #write h3 code, #write h4 code, #write h5 code, #write h6 code,
#write p code,
#write li code {
  color: rgb(60, 112, 198);
  background-color: #fefefe;
  /* 阴影 */
  box-shadow: 0 0 1px 1px #c8d3df;
  font-family: var(--code-font), var(--ui-font), monospace;
  box-sizing: border-box;
  border-right: 0px;
  margin: 0 2px 0 2px;
  padding: 0 2px 0 2px;
  /* 圆角 */
  border-radius: 2px 2px 2px 2px;
}

/* 自定义容器 */
#write .tip {
  border-radius: 6px;
  padding: 0.5em 0 0.7em 1em;
  margin: 1em 0;
  background-color: var(--tip-bg-color);
}

#write .tip::before {
  content: "🕶️提示：";
  display: block;
  font-weight: var(--strong-weight);
  width: 100%;
  padding: 0.5em 0;
}
/* 图片 */
#write img[alt="xx(3-2x)"] {
  display: block;
  width: 300px;
  margin: 1rem auto;
}